/* _content/appWeb_BD/Views/Login/Login.cshtml.rz.scp.css */
.screenLogin[b-ur7mtvs2kc] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap:50px;
}
.screenLogin button[b-ur7mtvs2kc] {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 8px;
    cursor:pointer;
    
}
.containerLogin[b-ur7mtvs2kc] {
    background-color: silver;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.spaceLogin[b-ur7mtvs2kc]{

}
.spaceLogin h1[b-ur7mtvs2kc] {
    font-family:'Modern No. 20';
    color:darkgray;

}
.spaceLogin input[b-ur7mtvs2kc] {
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
}
.spaceLogin p[b-ur7mtvs2kc] {
    font-size: 18px;
    color:red;
}
.textInfo[b-ur7mtvs2kc]{

}
/* _content/appWeb_BD/Views/Register/Register.cshtml.rz.scp.css */
.modalCustom[b-7eeqsgs23c] {
    z-index: 2;
    position: fixed;
    top: 0;
    width: max-content;
    align-items: center;
}
.alertTop[b-7eeqsgs23c] {
    z-index: 12;
    position: fixed;
    top: 0;
}
/* _content/appWeb_BD/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-lmlxt39njo] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-lmlxt39njo] {
  color: #0077cc;
}

.btn-primary[b-lmlxt39njo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-lmlxt39njo], .nav-pills .show > .nav-link[b-lmlxt39njo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-lmlxt39njo] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-lmlxt39njo] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-lmlxt39njo] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-lmlxt39njo] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-lmlxt39njo] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
